@import url('https://fonts.googleapis.com/css?family=Open+Sans|Source+Code+Pro');

html {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: 'Open Sans';
  font-size: 14px;
  line-height: 1.2em;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

textarea, input, div, button { outline: none; }
